.item-img{
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.item-title, .item-sub-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-title {
  font-weight: 500;
}

.item-sub-title {
  font-weight: 200;
  color: cadetblue;
}

.item-card {
  width: 200px;
  height: auto; /* Changed to auto to adjust to content */
  margin: 20px;
}